@import url("colors.css");
@import url("fonts.css");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0px;
}

header {
  width: 100%;
  padding: 8px;
  background: var(--primary-color);
  border-radius: 4px;
  position: sticky;
  top: 0;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-title {
  border: 2px solid black;
  border-radius: 4px;
  color: white;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  background: var(--secondary-color);
  font-weight: 700;
  text-align: center;
}

footer {
  width: 80%;
  padding: 0px;
  background: lightgrey;
  border-radius: 4px;
  position: sticky;
  bottom: 0;
}

#all-groceries-list {
  width: 100%;
  padding: 8px;
  background: var(--third-gradient);
  border-radius: 4px;
}

#my-groceries-container {
  width: 100%;
  padding: 8px;
  background: var(--third-gradient);
  border-radius: 4px;
}

/* CATEGORIES */
#my-groceries-list {
  margin: 2px;
  padding: 8px;
  display: flex;
  border-radius: 4px;
  background: var(--secondary-gradient);
  flex-direction: column;
  gap: 5px;
}

#categories-list {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.category-element {
  list-style-type: none;
  margin: 8px 0px;
  padding: 8px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  color: blueviolet;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

.category-header {
  padding: 4px;
  margin-bottom: 4px;
  color: white;
  background: var(--primary-gradient);
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.category-title {
  background-color: var(--secondary-color);
  border-radius: 4px;
  font-style: italic;
  padding: 2px 8px 2px 4px;
  text-align: center;
}

.category-button {
  width: 30px;
  height: 30px;
  color: black;
  background-color: white;
  border-radius: 50%;
  text-align: center;
}

/* GROCERIES */
.groceries-list {
  list-style-type: none;
  margin: 2px 0 2px 0;
  padding-left: 2px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  max-height: 0;
  transition: all 1s linear;
}

.groceries-list.visible {
  padding: 2px;
}

.grocery-element {
  height: auto;
  padding: 8px;
  background-color: white;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  color: black;
  display: flex;
  opacity: 1;
  justify-content: space-between;
  transition: all 1s linear;
}

.grocery-element.fade-out {
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.to-be-bought {
  background-color: var(--select-color);
  color: white;
}

.grocery-text {
  font-weight: 500;
}

.category-text {
  font-style: italic;
}

.fading-out {
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#log-container {
  padding: 0px;
  font-style: italic;
}

.link {
  padding: 4px;
  display: inline-block;
  border-radius: 4px;
  color: var(--primary-color);
  background-color: var(--third-color);
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
